@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: #FFFFFF;
  color: #333333;
}

.page-header {

}

.navigation {}

.logo-nav {}

.navigation-list {}

.navigation-item {}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align:left;
  text-decoration: none;

}

.navigation-user {}

.visually-hidden {}

.navigation-button {}

.main-index {}

.intro-image {
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.introduction {}

.main-slogan {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.main-slogan-description {
  font-size: 22px;
  line-height:26px;
}

.advantages {}

.advantage-list {}

.advantage-item {}

.block-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.standalone-left {
  color:#FFFFFF;
  background-color: #82B3D3;
}

.standalone-right {
  color:#FFFFFF;
  background-color: #82B3D3;
}

.advantages-text {}

.advantage-img-right {
}

.to-do-list {
  color:#333333;
}

.to-do-list {
  background-color: #FFFFFF;
}

.to-do-house {
  background: url("../images/reason-1.svg") no-repeat center rgba(131, 179, 211, 0.12);
}

.to-do-food {
  background: url("../images/reason-2.svg") no-repeat center #FFFFFF;


}

.to-do-souvenirs {
  background: url("../images/reason-3.svg") no-repeat center rgba(131, 179, 211, 0.12);

}

.advantage-item-square {
  background: rgba(131, 179, 211, 0.12);
}

.advantage-item-road {
  background: rgba(131, 179, 211, 0.2);
}
.advantage-item-non-crowdy {
  background: rgba(131, 179, 211, 0.12);
}

.to-do-icon {}

.to-do-description {}



.advantage-img-left {}

.advantages-header {}

.search-conversion {}

.search-conversion-header {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-conversion-block {
  font-size: 22px;
  line-height: 26px;
}

.subscription-block-main {
  background-image: url("../images/background-subscribe.jpg");
}

.subscription-header {}

.subscrtion-block-text {
  font-size: 22px;
  line-height: 26px;
}

.subscription-form {}

.email-submit {}

.page-footer {}

.footer-social {}

.social-media-list {}

.social-media-item {}

.vkontakte-icon {
  background: url("../images/social-logo-1.svg") center no-repeat;
}

.telegram-icon {
  background: url("../images/social-logo-2.svg") center no-repeat;
}

.youtube-icon {
  background: url("../images/social-logo-3.svg") center no-repeat;
}

.footer-phone {}

.footer-phone-link {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
}

.footer-logo {
}

.made-by-html-academy {
}

.catalog-page {}

.hotels-filter {}

.catalog-header {}

.catalog-header-title {}

.breadcrumbs {}

.breadcrumbs-item {}

.breadcrumbs-home {}

.visually-hidden> {}

.breadcrumbs-link {}

.visually-hidden {}

.catalog-filter {}

.catalog-filter-group {}

.catalog-filter-title {}

.control {}

.control-input {}

.filter-tab {}

.filtered-quantity {}

.filter-select {}

.way-to-demonstrate-list {}

.way-to-demonstrate-item {}

.demonstration-button {}

.product-field {}

.visualy-hidden {}

.product-list {}

.product-card {}

.product-image-link {}

.product-image {}

.product-card-title {}

.product-card-link {}

.product-type {}

.product-price {}

.product-button-link {}

.brown-button { 
  font-size: 20px;
  font-weight: 700;
  color:#FFFFFF;
  background-color: #756157;
  text-align: center;
  text-transform: uppercase;
}

.add-product {}

.blue-button {}

.rating-button {}

.paginator {}

.pagination-list {}

.pagination-item {}

.pagination-link {}

.pagination-current {}

.hotel-number {}

.quantity-hotels {}

.quantity-select {}

.subscription-block-catalogue {}

.subscription-header {}

.subscrtion-block-text {}

.subscription-form {}

.email-submit {}
