@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: #FFFFFF;
  color: #333333;
}

.main-container {
  flex-grow: 1;
}

.index-page-container {
  width: 1200px;
  margin: 0 auto;
}


.visually-hidden {}

.button-basic {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
}

.button-alternative {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

/* навигация */

.logo-nav {
  display: block;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  color: #000000;
}

.navigation-item-search {
  background: url("../images/search-icon.svg") center no-repeat #FFFFFF;
  color: #000000;
}

.navigation-item-saved {
  background: url("../images/icon-favorite.svg") center no-repeat #FFFFFF;
  color: #000000;
}

.navigation-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
}

.navigation-list {
  width: 520px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-user-list {
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
}

/* первый блок с заходной страницей */

.intro-image {
  background: url("../images/index-background.jpg") center no-repeat #000000;
  color: #FFFFFF;
}

/* Второй блок со слоганом Седоны */

.main-slogan {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

.main-slogan-description {
  font-size: 22px;
  line-height: 26px;
}

/* Блок с преимуществами и причинами посетить Седону */

.advantage-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.block-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.standalone-left {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.standalone-right {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.to-do-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  color: #333333;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  list-style: none;
}

.to-do-item {
  width: 400px;
}

.to-do-house {
  background: url("../images/reason-1.svg") no-repeat center rgba(131, 179, 211, 0.12);
  color: #333333;
}

.to-do-food {
  background: url("../images/reason-2.svg") no-repeat center #FFFFFF;
  color: #333333;
}

.to-do-souvenirs {
  background: url("../images/reason-3.svg") no-repeat center rgba(131, 179, 211, 0.12);
  color: #333333;
}

/* Упаковывает одинокие преимущества в один элемент. Создает горизонтальный поток */
.advantage-item-long {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

/* Упаковывает последний ряд преимуществ, направляет их горизонтально */
.last-advantages-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

.advantage-item-square {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.advantage-item-road {
  background: rgba(131, 179, 211, 0.2);
  width: 400px;
}

.advantage-item-non-crowdy {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.advantage-item-wrapper {
  width: 400px;
}

.advantage-image-wrapper {
  width: 800px;
}

/* Блок с поиском */

.search-conversion-header {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-conversion-block {
  font-size: 22px;
  line-height: 26px;
}

/* Блок с подпиской */

.subscription-block-main {
  background: url("../images/background-subscribe.jpg") center no-repeat #000000;
  color: #FFFFFF;
}

.subscription-header {
  font-size: 30px;
  line-height: 36px;
}

.subscrtion-block-text {
  font-size: 22px;
  line-height: 26px;
}

.email-form-description {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background: #F2F2F2;
}

.email-submit-button {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background: #82B3D3;
  border: none;
}

/* Футер */
.page-footer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-social {
  width: 120px;
}

.footer-logo {
  width: 115px;
}

.footer-phone {
  width: 720;
}

.social-media-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.vkontakte-icon {
  background: url("../images/social-logo-1.svg") center no-repeat #FFFFFF;
  color: #000000;
}

.telegram-icon {
  background: url("../images/social-logo-2.svg") center no-repeat #FFFFFF;
  color: #000000;
}

.youtube-icon {
  background: url("../images/social-logo-3.svg") center no-repeat #FFFFFF;
  color: #000000;
}

.footer-phone-link {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
}

/* работа с каталогом */
/* делаем фильтр */

.product-list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.filter-background-image {
  background: url("../images/background-filter.jpg") center no-repeat #000000;
  color: #FFFFFF;
}

.catalog-header-title {
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-home {
  background: url("../images/icon-go-home.svg") center no-repeat #000000;
  color: #FFFFFF;
}

.catalog-filter {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.reset-button {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
}

.filtered-quantity {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.filter-select {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.way-to-demonstrate-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.way-to-demonstrate-item-table {
  background: url("../images/icon-table.svg") center no-repeat #000000;
  color: #FFFFFF;
}

.way-to-demonstrate-item-slideshow {
  background: url("../images/icon-slideshow.svg") center no-repeat #000000;
  color: #FFFFFF;
}

.way-to-demonstrate-item-listing {
  background: url("../images/icon-listing.svg") center no-repeat #000000;
  color: #FFFFFF;
}

/* Карточки */

.product-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

.product-type {
  color: #333333;
}

.product-price {
  color: #333333;
}

.rating-caption {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
}

.button-about {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  color: #FFFFFF;
}

.button-favorite {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #82B3D3;
  color: #FFFFFF;
  border: none;
}

/* пагинация */

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.pagination-link {
  color: #FFFFFF;
  background: #82B3D3;
}

.pagination-current {
  color: #000000;
  background: #F2F2F2;
}

.quantity-select {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
